.bijia header {
  width: 100%;
  height: 2.5rem;
  background-color: #ff841d;
  line-height: 100px;
  color: #fff;
  position: relative;
}
.bijia header .logo_left {
  width: 9.3rem;
  height: 1.25rem;
  background: url(../images/header_logo.png) no-repeat;
  background-size: 100%;
  margin-left: 0.85rem;
}
.bijia header .logo_right {
  width: 2.0rem;
  height: 1.95rem;
  background: url(../images/header_app.png) no-repeat;
  background-size: 100%;
  right: 0.4rem;
}
.bijia .search {
  width: 100%;
  height: 2.55rem;
  background-color: #fff;
  position: relative;
}
.bijia .search .search_text {
  width: 14.25rem;
  height: 1.5rem;
  left: 0.5rem;
}
.bijia .search .search_text input {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 0.75rem;
}
.bijia .search .search_btn {
  width: 3.15rem;
  height: 1.5rem;
  right: 0.5rem;
}
.bijia .search .search_btn input {
  width: 100%;
  height: 100%;
  background-color: #ff841d;
  border-radius: 1.0rem;
}
.bijia .select {
  width: 100%;
  background-color: #f5f5f5;
  height: 2.5rem;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.bijia .select .left {
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.7rem;
  text-indent: 0.25rem;
}
.bijia .select .left a {
  color: #000;
  font-weight: 700;
}
.bijia .select button {
  width: 3.15rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  right: 0.25rem;
}
.bijia .ad {
  background-color: #fff;
  position: relative;
  padding: 0.5rem;
  box-sizing: border-box;
}
.bijia .ad p {
  width: 80%;
  font-size: 0.9rem;
  color: #000;
  text-align: center;
  margin: 0 auto;
}
.bijia .ad img {
  width: 8.45rem;
  height: 5.3rem;
  margin: 0 auto;
}
.bijia .ad .collection {
  width: 2.0rem;
  height: 2.0rem;
  border-radius: 50%;
  background-color: green;
  line-height: 2.0rem;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  position: absolute;
  right: 1.25rem;
  bottom: 1.25rem;
}
.bijia .subnav {
  width: 100%;
  height: 1.65rem;
}
.bijia .subnav ul {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  height: 100%;
}
.bijia .subnav li {
  float: left;
  width: 33.33%;
  height: 1.65rem;
  line-height: 1.65rem;
  border-right: 2px solid red;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffcd42;
  font-size: 0.7rem;
  font-weight: 700;
  color: #fff;
}
.bijia .subnav li:first-child {
  background-color: #ff9d1e;
}
.bijia .subnav li:last-child {
  border-right: none;
}
.bijia .purchase {
  width: 100%;
  height: 2.25rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.bijia .purchase h2 {
  width: 4.9rem;
  height: 0.9rem;
  text-indent: 1.6rem;
  font-size: 0.8rem;
}
.bijia .purchase h2:before {
  content: '';
  position: absolute;
  top: 0;
  width: 0.9rem;
  height: 0.9rem;
  background: url(../images/slogo.png) no-repeat;
  background-size: 100%;
  left: 0.25rem;
}
.bijia .purchase span {
  right: 148px;
  width: 3.55rem;
  height: 0.9rem;
  font-size: 0.7rem;
  color: red;
}
.bijia .purchase .btn {
  right: 0.25rem;
  width: 2.75rem;
  height: 1rem;
  background-color: #ff4a16;
  border-radius: 0.25rem;
  text-align: center;
  line-heigth: 1rem;
  color: #fff;
}
.bijia .desc {
  height: 2.9rem;
  padding: 0.25rem 0.5rem 0.5rem 0.25rem;
  border-bottom: 0.1rem solid #ccc;
}
.bijia .desc p {
  font-size: 0.8rem;
  color: #ccc;
  line-height: 1.45rem;
}
.bijia .comment .top {
  height: 1.65rem;
  background-color: #dbdbdb;
  line-heigth: 1.65rem;
  text-align: center;
  font-size: 0.9rem;
  color: #000;
}
.bijia .comment li {
  border-bottom: 1px solid #ccc;
}
.bijia .comment li .top_comt {
  height: 2.5rem;
  font-size: 0.7rem;
}
.bijia .comment li .top_comt .username {
  height: 100%;
  line-height: 2.5rem;
  text-indent: 0.5rem;
}
.bijia .comment li .top_comt .date {
  height: 1.25rem;
  line-height: 1.25rem;
}
.bijia .comment li .top_comt .buyfrom {
  height: 1.25rem;
}
.bijia .comment li p {
  font-size: 0.7rem;
  color: #000;
  padding: 0 0.5rem;
}
