.coupon header {
  background-color: red;
}
.coupon ul.coupontitle {
  padding: 0.85rem 0.25rem 1.75rem 0.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.coupon ul.coupontitle li {
  float: left;
  width: 32%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 4rem;
}
.coupon ul.coupontitle li a {
  display: block;
  width: 100%;
}
.coupon ul.coupontitle li a img {
  width: 50%;
  margin: 0 auto;
}
.coupon ul.coupontitle li p {
  width: 100%;
  text-align: center;
  height: 0.75rem;
  line-height: 0.75rem;
  color: #000;
  font-weight: 600;
}
.coupon ul.coupontitle li:nth-child(2) {
  margin: 0 0.25rem;
}
.coupon ul.coupontitle li:nth-child(4) {
  margin-top: 0.25rem;
}
